
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Registro de Libros</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#"> Control de Biblioteca</a>
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link"
                              th:href="@{/libros}">Control de Libros</a></li>
      <li class="nav-item"><a class="nav-link"
                              th:href="@{/users}">Control de Usuarios</a></li>
    </ul>
  </div>
</nav>

<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class="text-center">Registro de Usuario</h1>
      <div class="card-body">

        <form th:action="@{/users}" th:object="${user}" method="POST">
          <div class="form-group">
            <label>ID del Usuario : </label>
            <input type="text" name="idLibro" th:field="*{idUser}" class="form-control" placeholder="El ID debe empezar por 1: " required>
          </div>

          <div class="form-group">
            <label>Nombre de Usuario : </label>
            <input type="text" name="name" th:field="*{name}" class="form-control" placeholder="Introduce el nombre del usuario : " required>
          </div>

          <div class="form-group">
            <label>NIF del Usuario : </label>
            <input type="text" name="author" th:field="*{nif}" class="form-control" placeholder="Introce NIF : " required>
          </div>

          <div class="box-footer">
            <button class="btn btn-success">Registrar Usuario</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>
</html>